{% extends "base.html" %}

{% block head %}
<style type="text/css">
  .place:before {
    display:inline-block;
    content:'';
    width: 24px;
    height: 37px;
    background-image: url({{url_for('static', filename='pins.png')}});
  }
  #place1:before { background-position-x: -29px; background-position-y: 0px; }
  #place2:before { background-position-x: -58px; background-position-y: 0px; }
  #place3:before { background-position-x: -87px; background-position-y: 0px; }
  #place4:before { background-position-x: -116px; background-position-y: 0px; }
  #place5:before { background-position-x: -145px; background-position-y: 0px; }
  #place6:before { background-position-x: -174px; background-position-y: 0px; }
  #place7:before { background-position-x: -203px; background-position-y: 0px; }
  #place8:before { background-position-x: -232px; background-position-y: 0px; }
  #place9:before { background-position-x: -261px; background-position-y: 0px; }
  #place10:before { background-position-x: 0px; background-position-y: -50px; }
  #place11:before { background-position-x: -29px; background-position-y: -50px; }
  #place12:before { background-position-x: -58px; background-position-y: -50px; }
  #place13:before { background-position-x: -87px; background-position-y: -50px; }
  #place14:before { background-position-x: -116px; background-position-y: -50px; }
  #place15:before { background-position-x: -145px; background-position-y: -50px; }
  #place16:before { background-position-x: -174px; background-position-y: -50px; }
  #place17:before { background-position-x: -203px; background-position-y: -50px; }
  #place18:before { background-position-x: -232px; background-position-y: -50px; }
  #place19:before { background-position-x: -261px; background-position-y: -50px; }
  #place20:before { background-position-x: 0px; background-position-y: -100px; }
  #place21:before { background-position-x: -29px; background-position-y: -100px; }
  #place22:before { background-position-x: -58px; background-position-y: -100px; }
  #place23:before { background-position-x: -87px; background-position-y: -100px; }
  #place24:before { background-position-x: -116px; background-position-y: -100px; }
  #place25:before { background-position-x: -145px; background-position-y: -100px; }
  #place26:before { background-position-x: -174px; background-position-y: -100px; }
  #place27:before { background-position-x: -203px; background-position-y: -100px; }
  #place28:before { background-position-x: -232px; background-position-y: -100px; }
  #place29:before { background-position-x: -261px; background-position-y: -100px; }
  .place {
    margin: 3px;
    padding: 4px 3px 0px;
  }
  .place>p {
    display: inline-block;
    vertical-align: middle;
    margin-top: -28px;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  #posts>div {
    white-space: nowrap;
  }
  #map:after {
    padding-top: 90%;
    display: block;
    content: '';
  }
</style>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=fsTvRBUeUiobhQZtiWzE&submodules=geocoder"></script>
<script type="text/javascript">

$(function() {
  var map = new naver.maps.Map('map', {
    center: new naver.maps.Point(316281, 545370),
    zoom: 10,
    mapTypes: new naver.maps.MapTypeRegistry({
      'normal': naver.maps.NaverMapTypeOption.getNormalMap({
        projection: naver.maps.TM128Coord
      }),
      'terrain': naver.maps.NaverMapTypeOption.getTerrainMap({
        projection: naver.maps.TM128Coord
      }),
      'satellite': naver.maps.NaverMapTypeOption.getSatelliteMap({
        projection: naver.maps.TM128Coord
      }),
      'hybrid': naver.maps.NaverMapTypeOption.getHybridMap({
        projection: naver.maps.TM128Coord
      })
    }),
    mapTypeId: naver.maps.MapTypeId.TERRAIN
  });

  var infowindow = new naver.maps.InfoWindow();

  function msg(str) {
    var center = map.getCenter();
    infowindow.setContent('<div style="padding:20px;">' + str +'</div>');
    infowindow.open(map, center);
  }

  function err(str) {
    msg('<h5 style="margin-bottom:5px;color:#f00;">' + str + '</h5>');
  }

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
  } else {
    err("Geolocation not supported");
  }

  var location = map.getCenter();

  function onSuccessGeolocation(position) {
    location = new naver.maps.LatLng(position.coords.latitude,
                                     position.coords.longitude);
    location = naver.maps.TransCoord.fromLatLngToTM128(location);

    map.setCenter(location);

    var marker = new naver.maps.Marker({
      position: location,
      map: map
    });

    getPlaces(map.getBounds());
  }

  function onErrorGeolocation() {
    err("Geolocation failed!");
  }

  var markerList = [];

  function addMarker(place, x, y) {
    var icon = {
      url: "{{url_for('static', filename='pins.png')}}",
      size: new naver.maps.Size(24, 37),
      anchor: new naver.maps.Point(12, 37),
      origin: new naver.maps.Point(x, y)
    }
    var marker = new naver.maps.Marker({
      position: new naver.maps.Point(place.x, place.y),
      map: map,
      icon: icon
    });
    marker.addListener('mouseover', onMouseOver);
    marker.addListener('mouseout', onMouseOut);

    markerList.push(marker);
  }

  function addPlace(place, x, y, i) {
    var p = $('<button id="place' + i + '" place-id="' + place.id +'" class="place btn btn-default"><p>' + place.name + '</p></button>');
    $("#places").append(p);
  }

  function getPlaces(bounds) {
    var pMin = bounds.getMin();
    var pMax = bounds.getMax();
    $.getJSON("{{url_for('get_places')}}", {
      xMin: pMin.x,
      xMin: pMin.y,
      xMax: pMax.x,
      yMax: pMax.y,
      xMine: location.x,
      yMine: location.y
    }, function(data) {
      var places = data.data;

      for (var i = 0; i < markerList.length; i++) {
        markerList[i].setMap(null);
      }
      markerList = [];

      for (var i = 0; i < places.length; i++) {
        var x = i%10*29, y = Math.floor(i/10)*50;
        addMarker(places[i], x, y);
        addPlace(places[i], x, y, i);
      }

      $(".place").click(function() {
        var placeId = $(this).attr("place-id");
        $.getJSON("{{url_for('get_posts')}}", {
          place_id: placeId
        }, function(data) {
          var posts = data.data
          $("#posts").empty();
          for (var i = 0; i < posts.length; i++) {
            var p = $('<div><a href="' + posts[i].url + '" target="_blank">' + posts[i].subject + '</a></div>');
            $("#posts").append(p);
          }
        });
      });

    });
  }

  function onMouseOver(e) {
    var marker = e.overlay;
    marker.setIcon({
      url: "{{url_for('static', filename='pins_over.png')}}",
      size: new naver.maps.Size(24, 37),
      anchor: new naver.maps.Point(12, 37),
      origin: marker.icon.origin
    });
  }

  function onMouseOut(e) {
    var marker = e.overlay;
    marker.setIcon({
      url: "{{url_for('static', filename='pins.png')}}",
      size: new naver.maps.Size(24, 37),
      anchor: new naver.maps.Point(12, 37),
      origin: marker.icon.origin
    });
  }

  naver.maps.Event.addListener(map, 'zoom_changed', function(zoom) {
    //getPlaces(map.getBounds());
  });

  naver.maps.Event.addListener(map, 'bounds_changed', function(bounds) {
    //getPlaces(bounds);
  });
});
</script>
{% endblock %}
{% block content %}
<div id="map" style="width:100%;"></div>
<div id="places">
</div>
<div id="posts">
</div>
{% endblock %}
